---
import { BackgroundAnimation } from "@/components/ui/background-animation";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Icon } from "@iconify/react";
import { Button } from "@/components/ui/button";
import config from "../../explainer.config";
import { Badge } from "@/components/ui/badge";

const posts = await getCollection("blog", (post) => {
  if (import.meta.env.DEV) {
    return true;
  }

  return post.data.publishedAt && new Date(post.data.publishedAt) <= new Date();
});
---

<Layout>
  <Fragment>
    <div
      class="relative px-4 sm:px-6 lg:px-8 flex flex-col lg:grid py-24 sm:py-32 lg:py-40 gap-16 sm:gap-y-12 !pb-0"
    >
      <div class="absolute inset-0 w-full -z-10">
        <BackgroundAnimation client:only />
      </div>
      <div class="w-full max-w-[var(--container-width)] mx-auto pb-44">
        <div class="text-center">
          <div class="mb-4 justify-center">
            <a
              href="https://github.com/nuxt-content/docus/releases/tag/v5.0.0"
              rel="noopener noreferrer"
              class="rounded-md font-semibold inline-flex items-center gap-2 disabled:cursor-not-allowed aria-disabled:cursor-not-allowed disabled:opacity-75 aria-disabled:opacity-75 transition-colors px-2.5 py-2 text-xs ring ring-inset ring-primary/50 text-primary hover:bg-primary/10 active:bg-primary/10 disabled:bg-transparent aria-disabled:bg-transparent dark:disabled:bg-transparent dark:aria-disabled:bg-transparent focus:outline-none focus-visible:ring-2 focus-visible:ring-primary"
            >
              <span>Explainer v2</span>→
            </a>
          </div>
          <h1
            class="text-5xl text-pretty tracking-tight text-highlighted font-semibold sm:text-6xl"
          >
            Explain your ideas with Markdown
          </h1>
          <div
            class="text-lg sm:text-xl/8 text-muted-foreground text-balance mt-6"
          >
            Quickly design your documentation and optimise it for search engine
            optimisation to showcase your products.
            <br />
            Make elegant documentation for your project with Explainer.
          </div>
        </div>
        <div class="pt-10 flex items-center justify-center">
          <div class="flex flex-wrap gap-x-6 gap-y-3">
            <Button size="lg" className="cursor-pointer">
              <a
                href="/docs/framework/getting-started"
                class="flex gap-2"
                rel="noopener noreferrer"
              >
                Getting Started
                <Icon
                  icon="mdi:arrow-right"
                  aria-hidden="true"
                  className="size-6"
                  client:load
                />
              </a>
            </Button>
            <Button variant="outline" size="lg" className="cursor-pointer">
              <a
                href="https://github.com/LeadcodeDev/explainer"
                class="flex gap-2"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon
                  icon="mdi:github"
                  aria-hidden="true"
                  className="size-6"
                  client:load
                />
                View on Gihub
              </a>
            </Button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full max-w-[var(--container-width)] mx-auto px-5 grid grid-cols-1 sm:grid-cols-6 pb-16 sm:pb-24 lg:pb-32 gap-6"
    >
      <div class="col-span-1 sm:col-span-2 border rounded-lg p-5 bg-background">
        <div
          class="relative flex flex-col flex-1 gap-x-8 gap-y-4 lg:flex min-w-0 h-full"
        >
          <div class="flex flex-col items-start flex-none">
            <div class="flex-1">
              <div class="text-base text-pretty font-semibold text-highlighted">
                Built with
                <span class="text-primary"> Astro </span>
                and
                <span class="text-primary"> React </span>
              </div>
              <div class="text-[15px] text-pretty text-muted-foreground mt-1">
                Optimised yet open to modification, Explainer gives you
                everything you need to create perfect documentation.
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center h-full">
            <Icon
              icon="devicon:react"
              className="size-52 motion-safe:animate-spin motion-safe:[animation-duration:10s] dark:opacity-80"
              client:load
            />
          </div>
        </div>
      </div>

      <div class="col-span-1 sm:col-span-4 border rounded-lg p-5 bg-background">
        <div
          class="relative flex flex-col flex-1 gap-x-8 gap-y-4 lg:flex min-w-0"
        >
          <div class="flex flex-col items-start flex-none">
            <div class="flex-1">
              <div class="text-base text-pretty font-semibold text-highlighted">
                Powered by <span class="text-primary">Mineral</span>
              </div><div
                class="text-[15px] text-pretty text-muted-foreground mt-1"
              >
                Easy to use and customisable, Explainer provides you with a
                multitude of tools to enable you to create your documentation
                quickly without wasting time on details; only your content
                matters.
              </div>
            </div>
          </div>
          <img
            width="859"
            height="320"
            alt="Magnifique visuel propulsé par UI"
            class="dark:hidden w-full h-80 object-cover rounded-lg"
            src="https://docus.dev/_vercel/image?url=%2Flanding%2Flight%2Ftemplates-ui-pro.webp&w=1024&q=100"
          />
        </div>
      </div>

      <div
        class="col-span-1 md:col-span-4 border rounded-lg p-5 aspect-video flex flex-col flex-1 gap-x-8 gap-y-4 bg-background"
      >
      </div>
      <div
        class="col-span-1 sm:col-span-2 border rounded-lg p-5 h-full flex flex-col flex-1 gap-x-8 gap-y-4 bg-background"
      >
      </div>

      <div
        class="col-span-1 sm:col-span-2 border rounded-lg p-5 aspect-video flex flex-col flex-1 gap-x-8 gap-y-4 bg-background"
      >
      </div>
      <div
        class="col-span-1 sm:col-span-4 border rounded-lg p-5 h-full flex flex-col flex-1 gap-x-8 gap-y-4 bg-background"
      >
      </div>
    </div>

    <div
      class="w-full max-w-[var(--container-width)] mx-auto px-5 pb-16 sm:pb-24 lg:pb-32"
    >
      <div
        class="relative flex flex-col flex-1 gap-x-8 gap-y-4 lg:flex min-w-0 h-full"
      >
        <div class="bg-background">
          <h2 class="text-base/7 font-semibold text-primary">
            Follow our blog for updates and news
          </h2>
          <p
            class="mt-2 max-w-lg text-pretty text-4xl font-semibold tracking-tight text-gray-950 dark:text-accent-foreground sm:text-5xl"
          >
            See the latest blog posts and follow us
          </p>
          <div
            class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
          >
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-4">
        {
          posts.map((post) => (
            <a
              href={`/blog/${post.data.permalink}`}
              class="col-span-1 relative flex flex-col gap-2 border border-border bg-background transition-colors duration-200 rounded-lg p-4"
            >
              {import.meta.env.DEV && !post.data.publishedAt && (
                <div class="absolute z-50 top-1 right-2">
                  <Badge variant="outline">Invisible in production mode</Badge>
                </div>
              )}
              <div class="overflow-hidden rounded-lg">
                <img
                  src={post.data?.thumbnail ?? config.blog.defaults.thumbnail}
                  alt={post.data.title}
                  class="w-full h-48 object-cover rounded-lg"
                />
              </div>

              <div class="flex flex-col gap-2 pt-2">
                <h3 class="text-lg font-semibold">{post.data.title}</h3>
                <p class="text-sm text-muted-foreground">
                  {post.data.description}
                </p>

                <div class="pt-2">
                  {post.data.authors && post.data.authors.length > 1 && (
                    <div class="flex -space-x-1 overflow-hidden">
                      {post.data.authors?.map((author) => {
                        const authorData = config.blog.authors[author];
                        return (
                          <img
                            alt={authorData.name}
                            src={authorData.avatar}
                            class="inline-block size-6 rounded-full ring-2 ring-white"
                          />
                        );
                      })}
                    </div>
                  )}

                  {post.data.authors && post.data.authors.length === 1 && (
                    <div
                      data-orientation="horizontal"
                      class="relative flex items-center gap-2"
                    >
                      <span class="inline-flex items-center justify-center select-none overflow-hidden rounded-full align-middle size-8 text-base shrink-0 transform transition-transform duration-200">
                        <img
                          width="32"
                          height="32"
                          alt={post.data.authors[0]}
                          class="h-full w-full rounded-[inherit] object-cover"
                          src={config.blog.authors[post.data.authors[0]].avatar}
                        />
                      </span>
                      <div>
                        <p class="font-medium text-sm">
                          {config.blog.authors[post.data.authors[0]].name}
                        </p>
                        <p class="text-muted-foreground transition-colors text-xs">
                          @{post.data.authors[0]}
                        </p>
                      </div>
                    </div>
                  )}
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </Fragment>
</Layout>
